﻿body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
}
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}


ul.resp-tabs-list {
 }
 
#team ul.resp-tabs-list {
	width:100%;
	height:60px;
	background-color:#F1F0F0;}

.resp-tabs-list li {
  display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
  font-family: 'Acme', sans-serif;
}

#team .resp-tabs-list li {
	padding:10px 15px;
	}


#team .resp-tabs-list li {
	background-color:#F1F0F0;
	  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
		  margin-right:10px;
		  color:#62A292;
		  font-size:14px;
		  width:20%;
		  text-align:center;
		  margin-top:10px;
}

#team .resp-tabs-list .resp-tab-active {
	background-color:#62A292;
	color:#ffffff;
	}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding:0 15px 15px 15px;
}

#team .resp-tab-content {
    display: none;
    padding:15px;
}

.resp-tab-content h2 {
	margin-top:0;}

.resp-tab-active {
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
}

h2.resp-accordion {
    font-size: 18px;
    margin: 0px;
    padding: 10px 15px;
	background-image:url(../img/site/tab-left-grey.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	color:#62a292;
	width:90%;
	font-family: 'Acme',sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
	text-transform:uppercase;

}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
	background-image:url(../img/site/tab-left-green.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;}
	
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 35%;
}

#horizontalTab.miniHori .resp-vtabs ul.resp-tabs-list {
	width:100%;}

.resp-vtabs .resp-tabs-list li {
	background-image:url(../img/site/tab-left-grey.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	color:#62a292;
	padding-top:15px;
	padding-bottom:15px;
	width:80%;
	font-family: 'Acme',sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
	text-transform:uppercase;
	 -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#horizontalTab.miniHori .resp-vtabs .resp-tabs-list li {
	background-image:none;}


.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    float: left;
    width: 63%;
    min-height: 250px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
	background-image:url(../img/site/tab-left-green.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	color:#ffffff;
	padding-top:15px;
	padding-bottom:15px;}
	
.resp-vtabs a {
	color:#62A292;
	text-decoration:none;}

.resp-tab-active a {
	color:#ffffff;}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 12px;
	margin-right:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ffffff;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

@media only screen and (max-width: 524px) {
    .miniHori ul.resp-tabs-list {
        display: none;
    }

    .miniHori h2.resp-accordion {
        display: block;
    }

    .miniHori .resp-vtabs .resp-tab-content {
    }

    .miniHori .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .miniHori .resp-accordion-closed {
        display:none !important;
    }
    .miniHori .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
