/* CSS Document */

.container-fluid {
    background-color: #FFFFFF;
    margin: 20px auto 0;
    max-width: 960px;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);}
	
.alignCenter {
	text-align:center;}

.stdpad {
	padding:20px;}
	
.halfpad {
	padding:10px;}
	
.halfpadt {
	padding-top:10px;}
	
.halfpadl {
	padding-left:10px;}
	
.quarterpad {
	padding:5px;}
	
.quartermart {
	margin-top:5px;}

.stdpadl {
	padding-left:20px;}
	
.stdpadr {
	padding-right:20px;}
	
.stdpadt {
	padding-top:20px;
	}
	
.stdpadb {
	padding-bottom:20px;}
	
.stdmarl {
	margin-left:20px;}
	
.stdmarr {
	margin-right:20px;}
	
.stdmart {
	margin-top:20px;}
	
.stdmarb {
	margin-bottom:20px;}
	
.halfmarb {
	margin-bottom:10px;}
	
.halfmart {
	margin-top:10px;}
	
.quarterpadb {
	padding-bottom:5px;}
	
.quartermart {
	margin-top:5px;}
	
.quartermarb {
	margin-bottom:5px;}
	
.greenPod {
	background-color:#62a292;}
	
.lightGreenPod {
	background-color:#a9cac1;}
	
.yellowPod {
	background-color:#f8db08;
	}
	
.greenArrow {
	background-image:url(../img/site/green-arrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	width:100%;
	color:#ffffff;}
	
.yellowArrow {
	background-image:url(../img/site/yellow-arrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	width:100%;
	color:#917f00;}
	
.greenArrow h2,
.yellowArrow h2 {
	font-size:19px;}
	
.greenPodArrow {
	background-image:url(../img/site/green-pod-arrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	width:100%;
	color:#ffffff;
	position:relative;
	margin-top:-30px;
	}
	
.greenPodArrow h3{
	color:#ffffff;}
	
.yellowPodArrow h3 {
	color:#917f00;}
	
.yellowPodArrow {
	background-image:url(../img/site/yellow-pod-arrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	width:100%;
	color:#ffffff;
	position:relative;
	margin-top:-30px;
	}
	
.white {
	color: #ffffff;
}
	
.green {
	color:#0b7966;}
	
.grey {
	color:#917f00;}

.handwritten {
	font-family: 'Amatic SC', cursive;
	font-weight:700;
	}
	
.header img {
	max-width:100%;}
	
#quote .handwritten {
	font-size:29px;
	line-height:51px;}
	
.titleArrowGreen,
.titleArrowYellow {
	margin-top:-33px;
	position:relative}
	
.titleArrowGreen .titleContainer {
	background-color:#62A292;
	color:#ffffff;
	width:90%;}
	
.greenArrowIcon {
	width: 10%;
	height: 100%;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #62a28a;
}
	
.titleArrowYellow .titleContainer {
	background-color:#F8DB08;
	color:#ffffff;
	width:90%;}
	
.imageText {
	color:#ffffff;
	position:absolute;
	bottom:10%;
	width:80%;
	left:5%;}
	
.imageText h1 {
	color:#ffffff;}
		
.increase{
	font-size:50px;
	font-style:normal;}
	
.imageText h1 {
	background-image:url(../img/site/banner-arrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:90%;
	height:100%;
	padding:0px 10px 0px 10px;
	font-size:30px;
	line-height:normal;
	margin:0;
	margin-left:-7%;
	display:inline-block;}
	
	
#main {
	position:relative;}
	
.iconRibbonLeft {
	background-image:url(../img/site/ribbon-left.png);
	width:44px;
	height:64px;
	display:inline-block;
	margin-left:-44px;}
	
.iconRibbonRight {
	background-image:url(../img/site/ribbon-right.png);
	width:44px;
	height:64px;
	display:inline-block;
	margin-right:-44px;}
	
.quoteText {
	width:98%;}
	
.footer p {
	font-size:10px;
	font-family:arial;}
	
.footer a {
	color:#333333;
	font-weight:400px;
	font-size:10px;
	font-family:arial;
	font-weight:bold;
	}
	
.borderTop {
	border-top:1px solid #cccccc;}
	
.form-search {
	background-image:url(../img/site/search-background.png);
	background-repeat:no-repeat;
	padding:5px;
	display:inline-block;
	max-width:294px;
	height:100%;
	width:100%;
	background-size:100% 100%;
	}
	
.form-search .btn {
	background:none;
	background-color:transparent;
	color:#ffffff;
	text-shadow:none;
	border:none;
	font-family: 'Acme', sans-serif;
	box-shadow:none;}
	
.imgThumb {
	width:25%;
	height:25%;
	margin-right:10px;
	display:inline-block;
	vertical-align:top;}
			
#myCarousel p {
	font-size:16px;
	line-height:20px;}
	
.tabbable.tabs-left .nav.nav-tabs li {
	width:100%;}
	
#quote p {
	margin-bottom:0;}
	
.borderBottom {
	border-bottom:1px dotted #cccccc;}
	
.team td {
	width:33.33%;}
	
.team th {
	background-color:#CCCCCC;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;}
	
td.name {
	font-weight:bold;
	background-color:#f9f9f9;}
	
#team .resp-tabs-list li.longText {
	font-size:12px;}
	
.mainTeam {
	font-size:16px;}

.formHighlight {
	background-color:#E1EEEB;
	margin-bottom:20px;
	border:1px solid #62A292;}
	
.colourTable {
	}
	
.colourTable th {
	background-color:#E1EEEB;
	color:#62A292;
	text-transform:uppercase;
	}
	
.colourTable .side {
	color:#62A292;
	font-weight:bold;
	background-color:#fafafa;}
	
.subSection {
	 padding:15px;
	 color:#62A292;
	 font-family: 'Acme', sans-serif;
	 text-decoration:none;
	 font-size:24px;
	 width:90%;
	 height:100%px;
	 -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-image:url(../img/site/tab-left-grey.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	display:block;
	line-height:27px;
	}
	 			 
.subSection:hover,
.subSection:active,
.subSection:focus {
	text-decoration:none;
	background-image:url(../img/site/tab-left-green.png);
	color:#ffffff;
}

.subSection p {
	font-family:arial;
	font-size:14px;
	margin-bottom:0;
	margin-top:10px;}

.newsPosts img.media-object {
	width:100px;
	height:100px;}
		
#teamPhotos .media-body {
	width:100%;
	margin-top:20px;}
	
#teamPhotos .media > .pull-left {
	margin-right:0;}
	
a:hover .greenPodArrow h3,
a:hover .yellowPodArrow h3 {
	text-decoration:none;}
	
em.telNumber {
	font-style:normal;
	font-weight:bold;
	color:#60A292;}
	
.address {
	text-align:right;}
	
form#search {
	margin-bottom:15px;}
	
#verticalTab .carousel-control.left {
	left:-45px;}
	
#verticalTab .carousel-control.right {
	right:-45px;}
	
#main .carousel-inner img {
	max-height:663px;}
	