/*
Theme Name: FirmaSite
Theme URI: http://theme.firmasite.com/gpl/
Description: Free responsive WordPress theme with Buddypress and bbPress supports. Have 4 different layout:content-sidebar,sidebar-content,full content (long),full content(short). 13 different theme styles,Google Fonts,logo upload abilities. Unique 2 feature builtin:Promotion Bar and ShowCase. All options are using WordPress Theme Customizer feature so you can watch changes live! Designers:This theme built on Twitter Bootstrap,have 0 custom css code and using template_part system so you can easily use it as parent theme! You can find detailed information,showcase,live demo,tips and tricks about theme in:http://theme.firmasite.com/
Text Domain: firmasite
Version: 1.2.8
Author: FirmaSite
Author URI: http://firmasite.com/
Tags: buddypress,post-formats,custom-background,custom-colors,custom-menu,editor-style,featured-images,front-page-post-form,full-width-template,translation-ready,theme-options,threaded-comments,fixed-width,flexible-width,one-column,two-columns,left-sidebar,right-sidebar,black,blue,gray,green,orange,purple,red,silver ,white,yellow,dark,light


License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl.txt

You can find detailed information,showcase,live demo,
tips and tricks about theme in:
http://theme.firmasite.com/

This theme is licensed under the GPL.
I would be so happy if you dont remove designer link :)

WARNING for editing this theme:
We dont recommend edit files of this theme. 
You can add custom css from Theme Customizer panel. 
For adding custom bootstrap styles or changing theme display system,
We recommend you to use Child Theme:
http://theme.firmasite.com/child-theme/
http://codex.wordpress.org/Child_Themes  
*/

/* Bootstrap 3.0 Temporary Fixes */
.dropdown-menu{z-index:1001}
.navbar-collapse{max-height:none}

/* Some Make-Up */
.logo-text{font-size:200%!important;line-height:120%!important;display:inline-block!important;text-shadow:0 0.01em 0.05em #666,0.01em 0.06em 0em #999,0.01em 0.1em 0.1em rgba(0,0,0,0.85)}
.caption .hero-title,.caption .hero-content p,.gallery-title,.gallery-caption{
	display:inline-block;color:#fff;background:#333;background:rgba(0,0,0,0.4);border-radius:3px;padding:5px;text-shadow:0 1.5px 1px #000;
}
.caption .hero-link{display:inline-block;vertical-align:middle}

/* wp-styles */
.aligncenter{display:block;margin:0 auto}
.alignleft{float:left}
.alignright{float:right}
img.alignleft{margin-right:5px}
img.alignright{margin-left:5px}
.wp-caption{max-width:100%!important}
.wp-caption-text{}
.sticky{}
.gallery-caption{}
.bypostauthor{}
.assistive-text,.site .screen-reader-text{position:absolute!important;clip:rect(1px,1px,1px,1px)}
iframe,object,embed{max-width:100%}

/* theme general fixes */
img{display:inline-block;height:auto;max-width:100%}
.no-margin-bot{margin-bottom:0}
.page-links .pagination{clear:both;margin:0}
.entry-thumbnail.pull-left{margin-right:10px}
.entry-thumbnail.pull-right{margin-left:10px}
.loop_excerpt.hentry,.loop_tile.hentry{word-wrap:break-word;-ms-word-wrap:break-word}
.dropdown-form{padding:10px;min-width:250px}
.label,.badge{white-space:normal;padding:2px 4px}
.thumbnail img{display:block;margin:0 auto}
.thumbnail.pull-left,.thumbnail.alignleft{margin-right:5px}
.thumbnail.pull-right,.thumbnail.alignright{margin-left:5px}
.fs-content-thumbnail{padding:0}
@media (min-width:768px){.fs-have-thumbnail{overflow:hidden}}
.radio li{list-style:none}
.site-sidebar-content #secondary{margin-left:0}
#primary article{margin-bottom:5px}
.carousel-caption .pagination{margin:0}
#wplogo{color:#21759b}
#masthead{padding-top:10px}
body.admin-bar .navbar-fixed-top{top:28px}
.home-page #breadcrumbs{display:none}
.dropdown-menu.submenu{display:block;margin-left:20px;border:0;box-shadow:none;position:relative}

/* bbpress */
.bbp-topics .pagination{margin:0;font-size:80%}
.bbp-threaded-replies .panel{margin-bottom:2px}
.bbp-topic-revision-log{list-style:none}
.bbp-topic-revision-log-item{overflow:hidden}
.panel-body.alert{margin-bottom:0}

/*tinymce*/
body.mceContentBody{margin:10px!important;padding:10px!important}
.wp-switch-editor{height:26px!important}
table.mceToolbar{background:none!important;background-color:inherit!important}
td.mceIframeContainer{padding:0!important}

/* site-only-content = .row .col-xs-12 col-md-8 (round to 12x) */
.site-only-content .container{max-width:624px}
@media (min-width:1200px){.site-only-content .container{max-width:756px} }
@media (min-width:768px) and (max-width:991px){.site-only-content .container{max-width:624px} }

/* only-content-long = .row .col-xs-12 col-md-12 */
.site-only-content-long .container{max-width:940px}
@media (min-width:1200px){.site-only-content-long .container{max-width:1140px} }
@media (min-width:768px) and (max-width:991px){.site-only-content-long .container{max-width:720px} }

/* site-sidebar-content */
@media (max-width:991px){.site-sidebar-content #secondary{clear:both} }

/* Responsive video */
.flex-video{position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow:hidden}
.flex-video iframe,
.flex-video object,
.flex-video embed{position:absolute;top:0;left:0;width:100%;height:100%}
@media only screen and (max-device-width:800px),only screen and (device-width:1024px) and (device-height:600px),only screen and (width:1280px) and (orientation:landscape),only screen and (device-width:800px),only screen and (max-width:767px){.flex-video{padding-top:0}}

/* showcase */
.firmasite-showcase{margin-bottom:30px}
.firmasite-showcase .jumbotron{margin-bottom:0;font-size:inherit;padding:20px 15%!important}
.firmasite-showcase .carousel-control.left{border-radius:6px 0 0 6px}
.firmasite-showcase .carousel-control.right{border-radius:0 6px 6px 0}
.firmasite-showcase .carousel-indicators{bottom:0;margin-bottom:0}

/* promotionbar */
.carousel-mini{min-height:100px;margin-bottom:0;margin-top:15px;_height:100px}
.carousel-mini .carousel-title{margin-top:0;padding-bottom:10px}
.carousel-mini .carousel-inner > .item > .thumbnail{text-align:center}
.carousel-mini .carousel-control{position:absolute;left:auto;top:-5px;right:20px;width:15px;height:20px;margin-top:0;font-size:30px;font-weight:bold;line-height:16px;text-align:center;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:0.6;filter:alpha(opacity=60)}
.carousel-mini .carousel-control.right{right:0}
.carousel-mini .carousel-control:hover{text-decoration:none;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);opacity:0.9;filter:alpha(opacity=90)}

/* make modals usable */
.firmasite-modal-static{position:inherit;top:inherit;left:inherit;right:inherit;bottom:inherit;margin:0 auto 20px;z-index:inherit;max-width:100%;width:100%;word-wrap:break-word;display:inline-block;overflow:inherit}
.firmasite-modal-static .modal-dialog{width:100%;z-index:inherit;left:inherit;right:inherit;padding:0}
.firmasite-modal-static .modal-footer{border-radius:6px;text-align:inherit;margin-top:0}
.firmasite-modal-static .modal-body{overflow-y:inherit;max-height:inherit}
.firmasite-modal-static .modal-body.alert{margin-bottom:0}
.firmasite-modal-static .panel-footer{border-radius:6px}

/* custom icon font additions*/
@font-face {font-family:'FirmaSite';src:url('assets/fonts/FirmaSite.eot');src:url('assets/fonts/FirmaSite.eot?#iefix') format('embedded-opentype'),	url('assets/fonts/FirmaSite.woff') format('woff'),	url('assets/fonts/FirmaSite.ttf') format('truetype'),	url('assets/fonts/FirmaSite.svg#FirmaSite') format('svg');font-weight: normal;font-style: normal;}
@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'FirmaSite';src: url('assets/fonts/FirmaSite.svg#FirmaSite') format('svg');}}
.icon-try,.icon-wordpress{font-family:'FirmaSite'!important}
.icon-try:before{content:"\20ba"}
.icon-wordpress:before{content:"\e000"}

/* ie fixes */
.browser_ie #firmasite-promotionbar img.wp-post-image{width:100%;height:auto;max-width:none}
.browser_ie .bbp-replies .bbp-author-avatar img{width:80px;height:auto;max-width:none}
.browser_ie .widget.buddypress .item-avatar img{width:50px;height:auto;max-width:none}
.browser_ie ul.item-list img.avatar{width:50px;height:auto;max-width:none}
.browser_ie #item-actions img.avatar{width:50px;height:auto;max-width:none}
.browser_ie .bbp-topics .bbp-author-avatar img{width:14px;height:auto;max-width:none}
.browser_ie .bbp-forums .bbp-author-avatar img{width:14px;height:auto;max-width:none}
.browser_ie .firmasite-modal-static .modal-footer{text-align:left}
