/* CSS Document */

body {
	background-image:url(../images/holding-background.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
#holdingContainer {
	background-color:#ffffff;
	max-width:505px;
	text-align:center;
	padding:40px;
	position:fixed;
	left:50%;
	top:50%;
	height:690px;
	margin-top:-400px;
	margin-left:-252px;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#848484;
	-webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.75);
	}
	
.text {
	margin-top:20px;}
	
.logo {
	margin-bottom:20px;}
	
.date {
	margin-top:20px;}
	
a {
	color:#d12b66;
	text-decoration:none;}
	
a:hover,
a:active,
a:focus {
	text-decoration:underline;}
	
.social {
	margin-top:20px;}