/* CSS Document */

body {
	background-color:#f4f4f4;
	margin-bottom:40px;}
	
.floatLeft {
	float:left;}
	
.copyright {
	font-size:11px;
	margin-top:-20px;
	}
	
.buttonLink {
	background-color:#00a1b1;
	padding:5px 10px;
	color:#ffffff;
	display:inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight:400;
	cursor:pointer;
	text-transform:uppercase;}
	
	
#designLogo {
	padding-right:20px;}
	
.buttonLink:hover,
.buttonLink:active,
.buttonLink:focus {
	color:#ffffff;
	text-decoration:none;}
	
.container-fluid {
	background-color:#ffffff;
	max-width:920px;
	margin:20px auto 0;}
	
.pink {
	color:#BE054B;
	font-style:normal;
	}
	
.teal {
	color:#00a1b1;
	font-style:normal;
	}
	
.alignCenter {
	text-align:center;}
	
.alignLeft {
	text-align:left;}
	
.stdpadt {
	padding-top:20px;}
	
.stdmart {
	margin-top:20px;}	
	
.stdmarb {
	margin-bottom:20px;}
	
.stdpad {
	padding:20px;}
	
.stdpadb {
	padding-bottom:20px;}

.stdmarl {
	margin-left:20px;}
	
.stdpadl {
	padding-left:20px;}
	
.stdpadr {
	padding-right:20px;}
	
.halfpadl {
	padding-left:10px;}
	
.halfpadr {
	padding-right:10px;}
	
#footer {
	background-color:#ededed;
	margin-top:0;}
	
.footerNav {
	margin-top:10px;
	margin-left:0;}
	
.footerNav li {
	float:left;
	list-style-type:none;
	margin-right:15px;}
	
.footerNav li a {
	font-size:11px;
	color:#848484;text-transform:uppercase;}
	
.iconPlus {
	background-image:url(../images/icon-plus.png);
	height:17px;
	width:17px;
	display:block;
	float:left;
	margin-right:5px;
	margin-top:3px;}
	
	
.iconPlusWhite {
	background-image:url(../images/icon-plus-white.png);
	height:17px;
	width:17px;
	display:inline-block;
	float:left;
	margin-right:5px;
	margin-top:3px;}
	
	
#bannerText {
	font-weight:400;
	font-size:16px;
	color:#7c94a0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

	}
	
.logoBullet {
	padding:0;
	margin:0;
	}
	
.logoBullet li {
	list-style-type:none;
	background-image:url(../images/bullet-logo.png);
	background-repeat:no-repeat;
	padding-left:40px;
	line-height:24px;
	font-size:18px;
	padding-bottom:20px;}
	
.borderBottom {
	border-bottom:1px dotted #cccccc;}
	
.numberBullet {
	margin:0;
	}
	
.numberBullet li {
	list-style-type:none;
	padding-left:45px;
	background-repeat:no-repeat;
	border-bottom:1px dotted #cccccc;
	margin-top:20px;
	}
	
.numberBullet li.one {
	background-image:url(../images/bullet01.png);}
	
.numberBullet li.two {
	background-image:url(../images/bullet02.png);}
	
.numberBullet li.three {
	background-image:url(../images/bullet03.png);
	border-bottom:none;}
	
#teamTab li {
	background:none;
	border:none;}
	
#teamTab .dottedBorder {
	}
	
#teamTab .dottedBorder li {
	padding-top:10px;
	padding-bottom:10px;
	list-style-type:none;
	color:#848484;
	border-bottom:1px dotted #cccccc;}	
	
.eventTitle {
	font-size:18px;
	font-weight:400;
	margin:0;
text-transform:uppercase;
	}
	
.dateCircle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;9
	width:85px;
	height:85px;
	background-color:#00a1b1;
	color:#fff;
	text-align:center;
	padding-left:15px;
	padding-right:15px;
}

.dateBig {
	font-size:48px;
	font-weight:400;
	margin-bottom:5px;
	padding-top:20px;}
	
.monthSmall {
	font-size:11px;
	margin:0;
text-transform:uppercase;
}
	
.jacobBailey {
	margin-top:-10px;
	}
	
.bulletList li {
	margin-bottom:10px;
	font-size:12px;}
	
.greyBox {
	font-size:11px;
	background-color:#f2f2f2;}
	
.tabbable .nav {
	width:100%;}
	
.tabbable .nav li {
	width:100%;}

.fixed-size img {
  min-height: 919px;
  min-width: 462px;
}

#logo {
	padding-top:20px;
	padding-bottom:20px;}