/* CSS Document */

#fbsection1 {
	background-image:url(../images/aboutus/magic-background.jpg);
	color:#ffffff;
	position:relative;
}

#fbsection1 .row {
	height:100%;}

#fbsection1 .col-md-6 {
	padding:0;
	position:relative;
	height:100%;}

#fbsection1 h1 {
	color:#ffffff;
	font-size:134px;
	margin-bottom:0;}
	
#fbsection1 .blueSquare h2 {
	color:#9ecad8;}
	
#fbsection1 h2 {
	font-size:38px;
	margin-top:0;
	}

#fbsection2 {
	background-color:#e13660;
	padding-top:8%;
}
	
#fbsection3 {
	padding-top:20%;
	background-image:url(../images/aboutus/skills-background.jpg);
}
	
#fbsection4 {
	background-image:url(../images/aboutus/properties-background.jpg); 
}

.propLogo {
	padding-top:15%;}

#fbsection4 img {
	width:100%;}

.blankBox {
	width:100%;
	height:50%;
	display:block;}

.redSquare {
	background-color:#e13660;
	width:100%;
	height:50%;
	bottom:0;
	padding:7%;
	display:block;
	position:relative;
	font-size:16px;
}

.redSquare img {
	width:90%;}
	
.blueSquare {
	background-color:#0090cc;
	width:100%;
	height:50%;
	top:0;
	padding:15%;
	display:block;
	position:relative;
}

#sliderFrame {
	background-image:url(../images/aboutus/prop-slider-background.png);
	padding:20px;
	background-size:90% auto;
	background-repeat:no-repeat;
	height:660px;}
	
#sliderFrame .carousel-indicators {
	bottom:-140px;}
	
#sliderFrame .carousel-indicators .active {
	background-color:#000000;
	border:none;
	height:15px;
	width:15px;}
	
#sliderFrame .carousel-indicators li {
	border:2px solid #000000;
	height:15px;
	width:15px;}
	
#fbsection4 .hi-icon-wrap {
	padding:0;}
	
#sliderFrame .carousel {
	margin-left:14%;
	width:62%;
	margin-top:35%;
	}
	
.propLogo {
	width:60%;
	margin:0 auto;}
	
#propLogos img {
	margin-top:2%;
	width:80%;
	}