/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 20px;
	top: 50%;
	padding:0px 20px;
	background-color:#2F292B;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller nav .navSelect {
	height:50px;
	width:50px;
	background-color:#2F292B;
	position:absolute;
	left:-50px;
	top:20%;
	padding:0;
	display:block;}
	

.cbp-fbscroller > nav a {
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	display: block;
	position: relative;
	z-index: 9999;
	color: #9E9E9E;
	height: 12px;
	outline: none;
	margin: 25px 0;
	text-decoration:none;
}

.no-touch .cbp-fbscroller > nav a:hover {
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	color: #ffffff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

