/* CSS Document */

#fbsection1 {
	background-color:#0090cc;
	position:relative;
}

#fbsection2 {
	background-image:url(../images/culture-vision.jpg);
	color:#ffffff;
	z-index:1;
	padding-top:15%;
	font-size:16px;
}

.focusCam {
	display:inline-block;
	margin-top:10%;
	z-index:10;
}
		
#fbsection2 h1 {
	font-family:"Times New Roman", serif;
	font-size:60px;
	margin-top:0;
	font-weight:normal;
}

#fbsection3 {
	background-color:#fff100;
	padding-top:20%;
}

#fbsection3 img,
#fbsection4 img {
	width:100%;
}

#happy h1 {
	font-size:50px;
	color:#567482;
}
	
#happy p {
	font-size:18px;
	font-weight:400;
}

.smileText {
	font-size:24px;
	font-family:Times, "Times New Roman", serif;
}
	
.smileText a {
	color:#567482;
}

#fbsection4 {
	background-image:url(../images/culture-jargon.jpg);
	padding-top:15%;
}

.jargonText {
	background-color:#ffffff;
	padding:20px;
	font-size:14px;
	text-align:center;
}

