/* CSS Document */

#fbsection1 {
	background-color:#0090cc;
	position:relative;
}

#services {
	color:#ffffff;}
	
#services {
	padding-top:10%;
}
	
#services h1 {
	margin-top:0;}
	
#services .col-md-4 {
	padding:0;
	height:auto;
	margin-top:-7px;}
	