/* CSS Document */


.centPos {
	margin:auto;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;}

header {
	background-color:rgba(0, 0, 0, 0.75);
	letter-spacing:5px;
	font-size:11px;}
	
footer {
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	background-color:#2f292b;
	color:#ffffff;}
	
footer .col-md-3 {
	padding:0;}
	
footer a {
	color:#ffffff;
	display:block;
	letter-spacing:5px;
	padding-top:15px;
	padding-bottom:15px;
		}
		
.socialSlider {
	float:right;
	color:#9E9E9E;
	font-size:9px;
	text-align:center;
	position:relative;
	display:block;
	cursor:pointer;
}
	
.socialSlider:hover .socialIcons {
	right:-10px;}
	
.socialIcons {
	 -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background-color:#2f292b;
	width:330px;
	height:74px;
	display:block;
	position:absolute;
	top:-10px;
	right:-350px;
	text-align:left;}
	
.socialButton {
	 -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	height:38px;
	width:38px;
	display:block;
	position:relative;
	float:left;
	margin-right:5px;}
	
.socialLinkedin {
	background-image:url(../images/social-linkedin.png);}
	
.socialLinkedin:hover {
	background-position:0 -38px;}
	
.socialYoutube {
	background-image:url(../images/social-youtube.png);}
	
.socialYoutube:hover {
	background-position:0 -38px;}
	
.socialFacebook {
	background-image:url(../images/social-facebook.png);}
	
.socialFacebook:hover {
	background-position:0 -38px;}
	
.socialGoogle {
	background-image:url(../images/social-google.png);}
	
.socialGoogle:hover {
	background-position:0 -38px;}
	
.socialTwitter {
	background-image:url(../images/social-twitter.png);}
	
.socialTwitter:hover {
	background-position:0 -38px;}
	
.socialPinterest {
	background-image:url(../images/social-pinterest.png);}
	
.socialPinterest:hover {
	background-position:0 -38px;}
	
.bottomNav .row {
	margin:0;}
			
footer a:hover,
footer a:focus,
footer a:active {
	color:#ffffff;
	background-color:#515151;
	text-decoration:none;}
	
.bottomNav {
	position:absolute;
	left:50px;
	width:100%;}
		
footer .returnButton {
	padding:0;
	text-align:center;
}
	
.stdpad {
	padding:20px;}
	
.stdpadt {
	padding-top:20px;}
	
.stdpadb {
	padding-bottom:20px;}
	
.halfpad {
	padding:10px;}
	
.doublepad {
	padding:40px;}
	
.doublepadt {
	padding-top:40px;}
	
.doublepadb {
	padding-bottom:40px;}
	
.stdmar {
	margin:20px;
	}
	
.stdmart {
	margin-top:20px;}
	
.halfmar {
	margin:10px;}
	
.halfmarl {
	margin-left:10px;}
	
.doublemar {
	margin:40px;}
	
.doublemart {
	margin-top:40px;}
	
.doublemarb {
	margin-bottom:40px;}
	
.logoBorder {
	border-right:1px solid #cccccc;
	padding-right:15px;}
	
.mainText {
	color:#ffffff;
	text-align:center;
	font-family:"Times New Roman", serif;
	font-size:30px;
	letter-spacing:25px;
	line-height:normal;
	margin-top:22%;
	position:fixed;}
	
.boldText {
	font-size:120px;
	font-style:normal;}
	
.smallText {
	font-size:20px;
	font-style:normal;
	letter-spacing:12px;}
	
.bigItalic {
	font-size:50px;}
	
.normalText {
	letter-spacing:0;
	font-style:normal;
	font-size:27px;
}

.wsChar01 {
	position:absolute;
	right:5%;
	bottom:-10%;}
	
.wsChar02 {
	position:absolute;
	left:0;
	bottom:0;
	}
	
.wsChar03 {
	position:absolute;
	left:0;
	top:10%;
	}
	
.titleIntro {
	font-style:normal;
	font-size:20px;
	letter-spacing:10px;
	color:rgba(255,255,255,0.5);}
	
.wsChar04 {
	position:absolute;
	right:25%;
	bottom:0%;
	}
	
.alignCenter {
	text-align:center;}
	
	
#contactPop .form-control {
	height:50px;}
	
#contactPop textarea.form-control {
	height:170px;}
	
.punchIt {
	background-color:#007cc0;
	color:#ffffff;
	height:100px;
	width:100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	margin:0 auto;
	margin-top:30px;
	font-weight:bold;
	}
		
	
/*JSFiddle thumbnail*/


a img {
    border: none;
}

.caption {
    -webkit-backface-visibility: hidden; /* prevent flash when embedding fiddle */
	display: inline-block;
	position: relative;
	overflow: hidden;
	background: rgba(0,0,0,0.2);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	width:100%;
}

.caption:hover {
	background: rgba(0,0,0,0);
	}

.caption img {
	display: block;
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.caption:hover img {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
	z-index:2;
}

.caption::before,
.caption::after {
	position: absolute;
	width: 100%;
	background: #e13660;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.caption::before {
	content: attr(data-title);
	color: #68071c;
	font-size: 12px;
	font-weight: 500;
	padding: 20px;
}

.caption::after {
	content:attr(data-description);
	top: 20%;
	height: 100%;
	color: #fff;
	font-size: 11px;
	padding: 20px;
	padding-top:0;
}

.caption:hover::before,
.caption:hover::after  {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

.iconBrochure:hover,	
.iconPunch:hover {
	background-position:0 -90px !important;
}
	
.iconPunch {
	background-image:url(../images/icon-punch.png) !important;}
	
.iconBrochure {
	background-image:url(../images/icon-brochure.png) !important;}	
	